# ignore analysis folder
analysis

# ignore idea configuration folder
.idea/*
target/*
project/*
lib_managed/*
classes/*

# ignore specific files
*.class
*.log
*.out
nohup*
*.jar
script*
.DS_Store
data/bnlearn/*/*-obj-*
data/UAI/*/*-obj-*
